<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Default: {{ page.title }}</title>
    <style>
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  max-width: 40rem;
  padding: 2rem;
  margin: auto;
}

img {
  max-width: 100%;
}

pre {
  border: 1px solid #eee;
  border-width: 1px 0;
  overflow-y: scroll;
}
  </style>
  </head>
  <body>
    <main>
     <article>
       {{ content }}
     </article>
    </main>
  </body>
</html>
